.main {
    background-image: url(../../../public/Images/signin.jpg);
    background-size: cover;
    height: 100vh;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.cover {
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
}

.div-form {
    background-color: transparent;
}