.LogIn {
    background-image: url(../../../public/Images/login.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    width: 25%;
}